.list.light {
    --max-scroll: 8;
    --text: #3f4656;
    --border: #2f3545;
    --borderActive: #23c4f8;
    --background: #151924;
    --arrow: #6c7486;
    --arrowActive: #e4ecfa;
    --listText: #99a3ba;
    --listBackground: #f5f9ff;
    --listActive: #e4ecfa;
    --listTextActive: #6c7486;
    --listBorder: none;
    --textFilled: #99a3ba;
    visibility: hidden;
    width: 380px;
    position: relative;
  }
  .list {
    --max-scroll: 8;
    --text: #6c7486;
    --border: #cdd9ed;
    --borderActive: #23c4f8;
    --background: #fff;
    --arrow: #99a3ba;
    --arrowActive: #6c7486;
    --listText: #99a3ba;
    --listBackground: #fff;
    --listActive: #f5f9ff;
    --listTextActive: #6c7486;
    --listBorder: #e4ecfa;
    --textFilled: #6c7486;
    visibility: collapse;
    width: 380px;
    position: relative;
  }
  .list select {
    display: none;
  }
  .list > span {
    cursor: pointer;
    padding: 9px 16px;
    border-radius: 6px;
    display: block;
    position: relative;
    color: var(--text);
    border: 1px solid var(--border);
    background: var(--background);
  }
  .list > span:before,
  .list > span:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 2px;
    border-radius: 1px;
    top: 50%;
    right: 15px;
    background: var(--arrow);
    transition: all 0.3s ease;
  }
  .list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 1;
    visibility: visible;
    position: absolute;
    max-height: calc(var(--max-scroll) * 42px);
    top: 42px;
    left: 0;
    z-index: 1;
    right: 0;
    background: var(--listBackground);
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: auto;
    transform-origin: 0 0;
    border: 1px solid var(--listBorder);
  }
  .list ul li {
    opacity: 1;
  }
  .list ul li a {
    cursor: pointer;
    display: block;
    padding: 10px 16px;
    color: var(--listText);
    text-decoration: none;
    outline: none;
    position: relative;
  }
  .list ul li a:hover {
    color: var(--listTextActive);
  }
  .list ul li.active a {
    color: var(--listTextActive);
    background: var(--listActive);
  }
  .list ul li.active a:before,
  .list ul li.active a:after {
    --scale: 0.6;
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    position: absolute;
    right: 17px;
    top: 50%;
    opacity: 0;
    background: var(--listText);
    transition: all 0.2s ease;
  }
  .list.filled > span {
    color: var(--textFilled);
  }