/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 66vh;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
  background-size: cover;
}

.gallery-cell a {
  text-decoration: none;
}

.gallery-content {
  display: block;
  text-align: left;
  color: white;
  height: 33vh;
  margin-top: 33vh;
  background: linear-gradient(to top, rgba(0,0,0,0.65), transparent 80%);
}

.gallery-content h1 {
  font-size: 50px;
  width: 33%;
  line-height: 80%;
  padding-top: 2vh;
  padding-left: 3vh;
}
.gallery-content h2 {
  width: 66%;
  position: absolute;
  font-size: 24px;
  bottom: 0px;
  padding-bottom: 2vh;
  padding-left: 3vh;
}

.img-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50px;
  margin: 2vh;
}

.img-container img {
  width: 100%;
  filter: invert(1);
}

/* cell number */
/* .gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  padding-top: 33vh;
  line-height: 33vh;
  font-size: 80px;
  color: white;
  background: linear-gradient(to top, rgba(0,0,0,0.25), transparent 60%);
} */

.project-one {
  background: url(../img/project1.jpg);
  background-size: cover;
  background-position-x: center;
}

.project-two {
  background: url(../img/project2.jpg);
  background-size: cover;
  background-position-x: center;
}

@media (max-width: 992px) {
  .project-one {
    background: url(../img/project1-mobile.jpg);
    background-size: cover;
    background-position-x: center;
  }

  .project-two {
    background: url(../img/project2-mobile.jpg);
    background-size: cover;
    background-position-x: center;
  }
  

  .gallery-content h1 {
    font-size: 38px;
  }
  
  .gallery-content h2 {
    width: 66%;
    font-size: 16px;
  }

  .img-container {
    width: 42px;
  }
  
}

@media (max-width: 370px) {
  .gallery-content h1 {
    font-size: 34px;
  }
  
  .gallery-content h2 {
    font-size: 14px;
  }
}